<h2>Listing users</h2>

<h3>
  Users <%= link "+", to: "/users/new", class: "btn btn-success" %>
</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
        <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
        </tr>
    <% end %>
  </tbody>
</table>